<div style="background: url(../../assets/images/moviebackground.jpg.jpg)" class="page-holder bg-cover">
<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <div class="container h-100">
        <p class="display-4 text-center text-white">Online Ticket Booking Application</p>
        <h1 class="text-center text-white">Entertainment Overloaded!!!</h1>
        </div>
    </div>
    <!-- <img src="../../assets/images/moviebackground.jpg.jpg"> -->
</div>
</div>