<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-film" aria-hidden="true"></i>  TicketBooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
